label {
    width: 300px;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
  }

  label span {
    font-size: 0.6rem;
  }

  label.error {
    color: #c51244;
    font-weight: bold;
    padding-top: 0.5em;
    font-size: 0.9em;
  }

  input.error {
      border: 1px solid #c51244;
      font-weight: 300;
  }

select.error {
    border: 1px solid #c51244;
    font-weight: 300;
}
