label {
    width: 300px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
  }

  label span {
    font-size: 1rem;
  }

  label.error {
      color: red;
      font-size: 1rem;
      display: block;
      margin-top: 5px;
  }

  input.error {
      border: 1px dashed red;
      font-weight: 300;
      color: red;
  }
